.weather {
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 30px;
}

.weather .current {
    display: flex;
    flex-flow: row wrap;
    /*background-image: url("../images/sunrise_globe.jpg");
        background-size: cover;
        background-repeat: no-repeat;*/
    /*background-color: rgba(214,211,210,1);*/
    color: rgba(255, 255, 255, 1) !important;
    padding: 20px;
    /*text-shadow: 1px 1px #b45b01;*/
    /*#F68D2E;*/
    opacity: 0.9;
}

.weather .current .info {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    flex-grow: 2;
}

.weather .current .info .city {
    font-size: 50px;
}

.weather .current .info .temp {
    font-size: 40px;
    /*color: rgba(251,185,1,0.8);*/
}

.weather .current .info .temp sup {}

.weather .current .info .wind {
    font-size: 24px;
}

.weather .current .icon {
    text-align: center;
    font-size: 64px;
    flex-grow: 1;
}

.weather .future {
    display: flex;
    flex-flow: row wrap;
    background-color: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.selected {
    background-color: rgba(251, 185, 1, 0.5);
}

.weather .future .day {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    padding-bottom: 10px;
}

.weather .future .day:hover {
    color: #ffffff;
    /*background-color: #b45b01;*/
    background-color: rgba(251, 185, 1, 0.5);
}

.weather .future .day a:focus {
    color: #ffffff;
    /*background-color: #b45b01;*/
    background-color: rgba(251, 185, 1, 0.5);
}

.weather .future .day h4 {
    text-transform: uppercase;
}

.weather .future .day p {
    font-size: 20px;
    color: #000;
}

.weather .future .day p.currentTemp {
    color: #4a4a4a;
}

.weather .future .day a {
    font-size: 20px;
    font-weight: 700;
}

#mapid {
    min-height: 600px;
    height: 100%;
}

#mapidWarnings {
    min-height: 300px;
    height: 550px;
}

#mapidHOME {
    height: 550px;
    height: 100%;
    box-shadow: 0 1px 10px 0 #cfcfcf;
}

#mapid2 {
    height: 430px;
    height: 100%;
}

#mapid3 {
    min-height: 430px;
    height: 100%;
}

.weather-map-icon {
    /*border: 1px solid #0060af;*/
    border-radius: 10px;
    font-weight: 600;
    font-family: 'Roboto', Open Sans, 'Archivo Black', Anton, Lato;
    color: #fff;
    background-color: #fff;
    min-width: 60px;
    padding: 3px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    text-align: center;
    align-content: center;
}

.weather-map-icon img {
    width: 40px;
}

.weather-map-icon-fa {
    /*border: 1px solid #0060af;*/
    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto', Open Sans, 'Archivo Black', Anton, Lato;
    color: #0060af;
    min-width: 40px;
    max-height: 50px;
    padding: 4px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.weather-map-icon-fa2 {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto', Open Sans, 'Archivo Black', Anton, Lato;
    color: #ff0000;
    min-width: 40px;
    max-height: 50px;
    padding: 4px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.faPinBlue {
    color: #0060af;
}

.faPinRed {
    color: #ff0000;
}

.weather-map-icon a {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto', Open Sans, 'Archivo Black', Anton, Lato;
    color: #0060af;
    bottom: 0px;
    /*position: relative;
    left: px;
    bottom: 0px;*/
    padding: 2px;
    align-content: center;
    padding-top: 0px;
    margin-top: 0px;
}

.weather-map-icon i {
    font-size: 23px;
    font-weight: 600;
    padding-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: rgba(251, 185, 1, 1);
}

/*.weather-map-text {
    border: none;
    position: relative;
}

    .weather-map-text a {
        font-size: 16px;
        font-weight: 600;
        font-family: 'Roboto', Open Sans, 'Archivo Black', Anton, Lato;
        color: #fff;
        position: relative;
        bottom: -28px;
    }*/

.wi {
    color: rgba(251, 185, 1, 1);
}

.wi-map {
    color: rgba(251, 185, 1, 0.8);
}

/*i {
    color: rgba(251,185,1,0.8);
}*/

.info_map {
    padding: 6px;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

.info_map h4 {
    padding: 3px;
    color: #7696bd;
}